<nav class="navbar">
  <div class="brand">Allah Waris Rutor Stater</div>
  <div class="nav-links">
    <a href="/">Dashboard</a>
    <a href="/product/add">Add/Send Product</a>
    <a href="/money/add">Add/Send Money</a>
    <a href="/activity">Activity Log</a>
    <a href="/search">Search Person</a>
  </div>
  <a href="/logout"><button class="logout-btn">Logout</button></a>
</nav>